.partners {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    gap: 5%;
    text-align: center;
    align-items: center;

    &__items {
        margin-top: 15%;
    }
}