.quick {
    &__btn {
        display: flex;
        gap: 3%;
        max-width: 70%;
    }

    &__btn a {
        display: block;
    }

    &__btn a:hover {
        transform: scale(1.1);
        transition: all 0.25s;
    }
}